.copyright {
  border-top: 1px solid $base-secondary;
  padding-top: 17px;
  margin: 0 -20px;

  @media (min-width:$tablet-width) {
    border-top: none;
    padding-top: 7px;
    text-align: center;
  }

  @media (min-width:$desktop-width) {
    padding-top: 0;
  }
}

.copyright__link {
  color: $base-grey;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  position: relative;
  padding-left: 57px;

  @media (min-width:$tablet-width) {
    padding-left: 0;
    margin-right: 116px;
  }
}

.copyright__link::after {
  position: absolute;
  content: "";
  mask-image: url("../../icons/html-academy.svg");
  mask-repeat: no-repeat;
  background-color: $base-grey;
  width: 112px;
  height: 16px;
  top: 0;
  left: 151px;

  @media (min-width:$tablet-width) {
    top: 0;
    left: 94px;
  }
}
