.hero {
  background-color: $flat-white;
  display: flex;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(0deg, $base-white 252px, $flat-white 252px);
    background-position: bottom;
    background-repeat: no-repeat;
    }
}

.hero__wrapper {
  padding: 20px 0 60px;
  text-align: center;
  display: flex;

  @media (min-width: $tablet-width) {
    padding: 60px 0;
  }
}

.hero__wrapper-inner {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 608px;
    display: flex;
    flex-direction: column-reverse;
    }
}

.hero__badge {
  color: $base-primary;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  margin: 5px 0 4px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    }
}

.hero__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.72px;
  margin: 0;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 80px;
    letter-spacing: 1.12px;
    margin-bottom: 15px;
    }
}

.hero__description {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 22px;
    }
}

.hero__description br {
  @media (max-width: $mobile-width-only) {
  display: none;
    }
}

.hero__order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 25px;

  @media (min-width: $tablet-width) {
    margin: 0 189px;
    margin-bottom: 19px;
    }
}

.hero__old-price {
  font-size: 16px;
  line-height: 32px;
  color: $base-primary;
  position: relative;
}

.hero__old-price::after {
  position: absolute;
  content: "";
  border-top: 1px solid $base-primary;
  width: 100%;
  top: 16px;
  left: 0;
}

.hero__new-price {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  margin-left: 6px;
  margin-right: auto;
}

