.main-header {
  background-color: $base-white;
  padding: 12px 22px 9px 20px;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 22px 20px 0 20px;
    }

  @media (min-width: $desktop-width) {
    padding: 22px 40px 0 40px;
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 278px;

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
    }

    @media (min-width: $desktop-width) {
      width: 1440px;
      margin: 0 auto;
    }
  }

  .main-header__logo {
    @media (min-width: $tablet-width) {
margin-bottom: 18px;
      }
    }


